+*
.dotest
Makefile
autom4te*
bin
click-buildtool
click-compile
config.cache
config.h
config.log
config.mk
config.status
depcomp
elementmap
elementmap.xml
installch
*~
*.so
*.o
*.d
*.kdevelop*
*.kdevses
*.plist
Doxyfile
config.status.lineno
jist/elements.cc
jist/elements.conf
jist/elements.mk
local/*
click_install/
click_install/*
man
stamp-egroup
stamp-h
include/tinyxml
lib/libtinyxml.a
userlevel/libtinyxml.a
.cproject
.project
ns/elements.csmk
userlevel/elements.csmk
elements/brnold
elements/brn/version.h
linuxmodule/elements.csmk
bsdmodule/elements.csmk
*kdev4
nbproject
